/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file so the styles you add here lose precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
}

body * {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h1, h2, h3 {
  margin-left: 1em;
  font-weight: 100;
}

header {
  position: absolute;
  top: 0;
  display: -webkit-flex;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  background-color: black;
  color: white;
}

header a {
  color: white;
}

header #site-title {
  margin: 0;
  line-height: 1em;
  font-weight: 500;
}

header h2 {
  margin: 0 1em;
  line-height: 1.333em;
}

header h2 * {
  font-weight: 100;
}

.right-side {
  position: absolute;
  right: 0em;
}

#under-header-padding {
  padding: 2em;
}

#small-center {
  margin: 0 auto;
  padding: 3em;
  border: 2px solid black;
  width: 50%;
  min-width: 400px;
  max-width: 500px;
}
